# Compiled source #
###################
*.com
*.class
*.dll
*.o
*.so
*.orig

#Target dir#
############
*/target/**
*/*/target/**


#IntelliJ Project dir and files#
################################
*/.idea/**
.idea/
*.iml